/all-includes.inc.bak
/buildings.inc.bak
/camera-lights.inc.bak
/components.inc.bak
/globals.inc.bak
/icons.pov.bak
/macros.inc.bak
/single_unit.pov.bak
/terrain.inc.bak
/terrain.pov.bak
/test.pov.bak
/title.pov.bak
/units.inc.bak
/units.pov.bak
